
.footer{
    
    &-fixed-bottom{
        margin-top: 5px;
        padding-top: 10px;
        margin-bottom: 5px;
        width: 100%;
        position: fixed;
        bottom: 0;
        
    }
}


.footer-container{
    display: flex;
    justify-content: center;
}

.footer-link{

    &-black{
        > svg{
            fill: black;
            margin-right: 20px;

            &:hover{
                box-shadow: 0 0 10px rgba(0,0,0,.25);
            }
        }
    }

    &-white{
        > svg{
            margin-right: 20px;
            fill: white;
            &:hover{
                box-shadow: 0 0 10px rgba(0,0,0,.25);
            }
        }
    }
    &-navy{
        > svg{
            margin-right: 20px;
            fill: #003057;
            &:hover{
                box-shadow: 0 0 10px rgba(0,0,0,.25);
            }
        }
    }

    
    
}

.footer-text{

    &-black{
        color: black;
        text-align: center;
    }

    &-white{
        color: white;
        text-align: center;
    }
    &-navy{
        color: #003057;
        text-align: center;
    }
}

