//font colors

$blue-grey: hsl(233,8%,62%);
$light-blue-grey: hsl(220,16%,96%);
$very-light-grey: hsl(0,0%,98%);
$white: hsl(0,0%,98%);
$light-red-trans: rgba(196, 25, 25, 0.5);

//font sizes
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-large: 2.00rem;
