@import "_variables";
@import "_globals";
@import "_header";
@import "_footer";
@import "_mixins";
@import "_animations";
@import "_cards";
@import "_pagination";

.bookshelf-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.bookshelf-header-image-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookshelf-lead-image-container{
    width: 100%;
    margin-top: -10px;
    height: 400px;
    background-image: url(../icons/original.jpg);
    background-repeat:repeat-x;
    background-size: cover; 
    background-position-x: center;
    background-position-y: center;
    opacity: 0.6;

}





