@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 0 0 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1.125rem;
  color: #b9aeae;
  font-family: 'Open Sans', sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#f2f2f2), color-stop(#e4e4e4), color-stop(#d7d7d7), color-stop(#cacaca), color-stop(#cacaca), color-stop(#cacaca), color-stop(#cacaca), color-stop(#d7d7d7), color-stop(#e4e4e4), color-stop(#f2f2f2), to(#ffffff));
  background-image: linear-gradient(to right, #ffffff, #f2f2f2, #e4e4e4, #d7d7d7, #cacaca, #cacaca, #cacaca, #cacaca, #d7d7d7, #e4e4e4, #f2f2f2, #ffffff);
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #b9aeae;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.center-fluid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.content-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lead-text {
  color: black;
  text-align: center;
}

.lead-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.lead-heading {
  color: black;
  text-decoration: underline;
  text-align: center;
}

.col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 28px;
  margin-bottom: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-container {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-container.light-text {
  font-weight: 300;
}

.text-container.bold-text {
  font-weight: 600;
}

.text-container.italic {
  font-style: italic;
}

.text-container.center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-l {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex-jc-r {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media only screen and (max-width: 63.9378em) {
  .nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #363636;
  }
}

@media only screen and (min-width: 64em) {
  .nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    background-color: #363636;
  }
}

button, .button {
  padding: 1rem 1.875rem;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  color: #fafafa;
}

@media (max-width: 63.9378em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.blinking-cursor {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: blink 1s steps(2, start) infinite;
          animation: blink 1s steps(2, start) infinite;
}

@-webkit-keyframes text-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes text-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes title-bg-fade {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes title-bg-fade {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.logo-img {
  height: 50px;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header .overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(112, 112, 112, 0.986)), to(rgba(255, 255, 255, 0.3)));
  background-image: linear-gradient(rgba(112, 112, 112, 0.986), rgba(255, 255, 255, 0.3));
  z-index: 10;
}

.header nav {
  position: relative;
  background-color: #003057;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 10;
}

.header__logo a {
  font-size: 1.125rem;
  position: relative;
  margin-right: 32px;
  font-weight: bold;
}

.header__logo a:hover {
  color: #003057;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #b9aeae;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
  margin-top: 3px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  background: #363636;
  padding: 1.625rem;
  margin-top: 1.5rem;
  width: calc(100% - 3rem);
  border-radius: 8px;
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__menu a {
  color: #b9aeae;
  padding: 0.625rem;
  display: block;
  text-align: center;
}

.header__menu a:hover {
  color: #003057;
}

.header__links a {
  font-size: 0.875rem;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background: #003057;
  left: 0;
  right: 0;
  bottom: -10px;
}

.header__links a:hover {
  color: #003057;
}

.footer-fixed-bottom {
  margin-top: 5px;
  padding-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-link-black > svg {
  fill: black;
  margin-right: 20px;
}

.footer-link-black > svg:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.footer-link-white > svg {
  margin-right: 20px;
  fill: white;
}

.footer-link-white > svg:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.footer-link-navy > svg {
  margin-right: 20px;
  fill: #003057;
}

.footer-link-navy > svg:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.footer-text-black {
  color: black;
  text-align: center;
}

.footer-text-white {
  color: white;
  text-align: center;
}

.footer-text-navy {
  color: #003057;
  text-align: center;
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.blinking-cursor {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: blink 1s steps(2, start) infinite;
          animation: blink 1s steps(2, start) infinite;
}

@keyframes text-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes text-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes title-bg-fade {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  max-width: 60%;
  max-height: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.canvas-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.name-title {
  color: black;
  text-align: center;
  font-size: 32px;
  -webkit-animation: text-fade 500ms ease-in-out forwards;
          animation: text-fade 500ms ease-in-out forwards;
}

.name-title-container {
  text-align: center;
}

.description-container {
  text-align: center;
  max-width: 75%;
}

.description-content {
  color: black;
  text-align: center;
  font-size: 18px;
  -webkit-animation: text-fade 500ms ease-in-out forwards;
          animation: text-fade 500ms ease-in-out forwards;
}

.lead-analytics-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: -10px;
  background-image: url(../icons/original.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
/*# sourceMappingURL=home.css.map */